*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

*.log
*.swp
*.tmp
*.bak

.vscode/
.idea/
*.iml

.git
.gitignore

.dockerignore
Dockerfile

vendor/

/go/pkg/mod
/go/bin
*.coverprofile

.env
.env.local

logs/

configs/*
!configs/config.yaml
